*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: rgb(190, 178, 178); */
}
body{
  background-size: contain;
  height: 101vh;
  
  background-image: linear-gradient(black,rgb(27, 27, 27),rgb(96, 95, 95),white)
  /* background-color: aqua; */
  
  
}

.app{
  border-radius: 10px;
  background-color: rgb(239, 214, 214);
  /* border: 2px rgb(197, 190, 190) solid; */
  width: 500px;
  height: 500px;
  /* padding: 40px; */
  /* margin: 100px 400px; */
  position: relative;
  left: 400px;
  top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.watchmain{
  /* position: relative; */
  border: 2px red solid;
  height: 300px;
  width: 300px;
  background-color: rgb(105, 104, 104);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 99px;
  margin-top: 70px;
}
.name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
  font-size: larger;
  font-weight: bolder;
  color: white;
  
}
.watch{
  border-radius: 30px;
  background-color: white;
  border: 2px black solid;
  height: 50px;
  width: 140px;
  padding: 14px 40px;
  font-size: larger;
  /* position: absolute; */
}
.butt button{
  cursor: pointer;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 15px;
}
footer{
  /* margin-top: 0px; */
  position: relative;

  top: 180px;
  color: white;
  padding: 50px
}
.alamain{
  border: 2px red solid;
  height: 450px;
  width: 450px;
  background-color: rgb(105, 104, 104);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 95px; */
  margin-top: 130px;
  margin-bottom: 27px;
  margin-left: 27px;
}
.tym{
  color: white;
  /* margin-top: 15px; */
}
.tym span{
  /* border: 2px solid red; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  width: 60px;
  height: 70px;
  display: inline-block;
  text-align: center;
  position: relative;

}
.tym span::after{
  content: "";
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#hhrs::after{
  content: "HOURS";
}
#mmin::after{
  content: "MINUTES";
}
#ssec::after{
  content: "SECONDS";
}
.alrmset form{
  /* margin-left: 10px; */
  margin-top: 30px ;
  display: flex;
  flex-direction: column;
  gap:10px
  

}
.form input{
  border: none;
  height: 30px;
  width: 240px;
  border-radius: 30px;
  padding: 20px;
}
#alabutt{
  margin-left: 50px;
}
#set{
  font-size: 10px;
  margin-left: 30px;
}